@model Partner
@{
    ViewData["Title"] = "Edit Partner";
}

<h1 class="h3 mb-3">Edit Partner</h1>

<form asp-action="Edit" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />
    <partial name="_PartnerForm" model="Model" />
    <div class="my-4">
        <button type="submit" class="btn btn-primary">Save Changes</button>
        <a class="btn btn-outline-secondary" asp-action="Details" asp-route-id="@Model.Id">Cancel</a>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
